:root {
    --dark-1: #000;
    --dark-2: #252432;
    --dark-3: rgba(0,0,0,0.5);
    --dark-4: #111;
    --dark-5: #8987A1;
    --primary-bright: #E95A08;
    --secondary-bright: #fff;

}
*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
}
.container {
    max-width: 1140px;
    margin: auto;
}

/* navigation bar styles */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left img {
    width: 100%;
}
.nav-right {
    width: 415px;
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    font-size: 1.6rem;
}
.nav-right > div {
    color: var(--dark-2);
    font-weight: 700;

}
.nav-right .nav-item {
    color: var(--dark-5);
    font-weight: 400;
}
.nav-right div:last-child {
    color: var(--dark-1);
}
.nav-right i {
    margin-right: 10px;
}

/* banner section styles */

.banner {
    display: flex;
    margin-top: 12rem;
    align-items: center;
}
 .banner > * {
    flex: 1;
}
.banner-head {
    color: var(--dark-1);
    font-family: "Noto Serif";
    font-size: 6.5rem;
    font-weight: 700;
    margin: 0 0 13px;
}
.banner-head span {
    color: var(--primary-bright);
}
.banner-left p {
    font-family: "inter";
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--dark-3);
    margin: 0;
}
.banner-right img {
    display: block;
    width: 100%;
}

.header {
    margin-top: 30px;
}

/* plants section styles */

.plants {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top: 120px;
}
.plants-head {
    color: var(--primary-bright);
    font-family: "Noto Serif";
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
}
.plants-head span {
    color: var(--dark-1);
}
.plants-body p {
    font-family: "Inter";
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--dark-3);
    margin: 16px auto 0;
    max-width: 80%;
}
.plants-card {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 30px 20px;
}
.card {
    font-family: "inter";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.card-img img {
    width: 100%;
}
.card-title {
    color: var(--dark-4);
    font-size: 2.2rem;
    line-height: 3rem;
}
.card-title p:first-child {
    font-weight: 500;
    margin: 0;
}
.card-title p:last-child {
    font-weight: 700;
    margin: 0;
}
.btn {
    color: var(--secondary-bright);
    background-color: var(--primary-bright);
    font-size: 16px;
    font-weight: 600;
    padding: 17px ;
    width: 100%;
    border: 0;
}

/* plants lover section styles */

.plants-lover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 210px;
    position: relative;
}
.badge {
    width: 286px;
    height: 286px;
    position: absolute;
    top: -130px;
    left: 350px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

.badge img {
    width: 100%;
}
.plants-lover > * {
    flex: 1;
}
.plants-left img {
    width: 100%;
    display: block;
}
.plants-right h3 {
    font-family: "Noto Serif";
    font-size: 5rem;
    font-weight: 700;
    color: var(--dark-1);
    margin: 0;
}
ul {
    padding-left: 30px;
}
 li {
    font-family: "Inter";
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--dark-3);
    margin: 20px 0;
}

/* latest deal section design */

.deals {
    text-align: center;
    margin-top: 135px;
}
.deals-card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 35% 62.5%;
    gap: 25px 28px;
    text-align: center;
    margin-top: 120px;
}
.deals-card p {
    color: var(--secondary-bright);
    font-family: "Noto Serif";
    font-size: 2rem;
    font-weight: 700;
    margin: 68px 0 19px;
}
.deals-card a {
    color: var(--secondary-bright);
    font-family: "Inter";
    font-size: 1.6rem;
    font-weight: 600;
}
.deals-card .card-3 p {
    font-size: 4rem;
    margin: 200px 0 15px;
}
.deals-card .card-3 a {
    font-size: 2.8rem;
}
.card-1 {
    height: 210px;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,40%) 100%),
                      url(../assets/deal-bloom.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 14px;
}
.card-2 {
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,40%) 100%),
                      url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 14px;
    height: 210px;
}
.card-3 {
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,40%) 100%),
                      url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 22px;
    grid-row: 1 / span 2;
    grid-column: 2;
}

/* join section styles */

.join {
    height: 530px;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 120px;
}
.join h3 {
    color: var(--secondary-bright);
    font-family: "Noto Serif";
    font-size: 5rem;
    font-weight: 700;
    padding: 200px 0 23px;
    margin: 0;
}
.input {
    border: 0;
    display: flex;
    width: 60%;
    margin: 0 auto;
}
.input .btn {
    width: 186px;
}
.input input:first-child {
    flex-grow: 1;
    outline: 0;
    border: 0;
    padding: 15.5px 20px;
    
}
::placeholder {
    color: var(--dark-3);
    font-family: "Inter";
    font-size: 1.6rem;
    font-weight: 400;
}

/* footer styles */

.footer {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 50px auto;
}

.footer-body p {
    margin: 0;
    max-width: 100%;
    margin-top: 16px;
}
.footer-body {
    width: 30%;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    
}
.item a {
    color: var(--dark-5);
    font-family: "Inter";
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    
}
.icon-img {
    margin-top: 10px;
}


/* responsive design */

@media screen and (max-width: 550px) {
    .container {
        max-width: 100vw;
    }
    /* navigation bar styles */
    .navigation {
        margin: 0 16px;
    }
    .items {
        visibility: hidden;
    }
    .nav-left {
        width: 100px;
    }
   /* banner styles */
   .banner {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 28px;
   }
   .banner-left {
    margin: 0 16px;
        width: 360px;
   }
   .banner-head {
        font-size: 2.4rem;
   }
   .banner-left p {
        font-size: 1.4rem;
   }
   .header {
        margin-top: 12px;
   }

   /* plants section styles */
   .plants {
        margin: 65px 16px 0;
   }
   .plants-card {
        grid-template-columns: repeat(2, 1fr);
   }
   .plants-head {
        font-size: 2.4rem;
   }
   .plants-body p {
        font-size: 1.4rem;
   }
   .card-title {
        font-size: 1.6rem;
   }
   /* plants lover section styles */

   .plants-lover {
        flex-direction: column;
        gap: 18px;
        margin: 40px 16px;
   }
   .plants-right h3 {
        font-size: 2.4rem;
   }
   li {
     font-size: 1.4rem;
     margin: 16px 0;
   }

   .badge {
    display: none;
   }
   /* latest deal section styles */

    .deals-card {
        display: flex;
        flex-direction: column;
        margin: 50px 16px 0;
        gap: 20px;
    }
    
    .card-2 {
        background-repeat: no-repeat;
        border-radius: 0;
    }
    .card-3 {
        border-radius: 14px;
        height: 210px;

    }
    .deals-card .card-3 p {
        font-size: 2rem;
        margin: 68px 0 19px;
    }
    .deals-card .card-3 a {
        font-size: 1.6rem;
    }
     
    /* join section styles */
    .join {
        margin-top: 40px;
    }
    .join h3 {
        font-size: 2rem;
    }
    .input {
        width: 70%;
    }

    /* footer styles */

    .footer {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin: 50px 16px;
    }
    .footer-body {
        width: 80%;
    }
    .footer-body p {
        font-size: 1.6rem;
    }
}